@{
    ViewData["Title"] = "Okay";
}

<div class="jumbotron">
    <h1>Manchester Metropolitan University</h1>
</div>
<body>
    <h2>Welcome to Manchester Metropolitan University</h2>
    <p>
        Manchester Metropolitan University is a simple project application that
        demonstrates how to use Entity Framework Core in an
        ASP.NET Core MVC web application.
    </p>
</body>