@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Manchester Metropolitan University</h1>
</div>
<body>
    <div class="row">
        <div class="col-md-6">
            <h2>Project</h2>
            <ul>
                <li>
                    ASP.Net Core MVC Project is a simple web application that is used to handle data stored
                    on a database to view/edit/create/delete students, instructors or departments.
                    This was created using ASP.NET Core MVC web application.
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
    </div>
</body>